In [117]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score
from sklearn.linear_model import LogisticRegression

In [118]:
dataset = pd.read_csv('forest_dataset.csv')
dataset.head()

,0,1,2,3,4,5,6,7,8,9,...,45,46,47,48,49,50,51,52,53,54
0,2683,333,35,30,26,2743,121,173,179,6572,...,0,0,0,0,0,0,0,0,0,2
1,2915,90,8,216,11,4433,232,228,129,4019,...,0,0,0,0,0,0,0,0,0,1
2,2941,162,7,698,76,2783,227,242,148,1784,...,0,0,0,0,0,0,0,0,0,2
3,3096,60,17,170,3,3303,231,202,99,5370,...,0,0,0,0,0,0,0,0,0,1
4,2999,66,8,488,37,1532,228,225,131,2290,...,0,0,0,0,0,0,0,0,0,2

In [120]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 55 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       10000 non-null  int64
 1   1       10000 non-null  int64
 2   2       10000 non-null  int64
 3   3       10000 non-null  int64
 4   4       10000 non-null  int64
 5   5       10000 non-null  int64
 6   6       10000 non-null  int64
 7   7       10000 non-null  int64
 8   8       10000 non-null  int64
 9   9       10000 non-null  int64
 10  10      10000 non-null  int64
 11  11      10000 non-null  int64
 12  12      10000 non-null  int64
 13  13      10000 non-null  int64
 14  14      10000 non-null  int64
 15  15      10000 non-null  int64
 16  16      10000 non-null  int64
 17  17      10000 non-null  int64
 18  18      10000 non-null  int64
 19  19      10000 non-null  int64
 20  20      10000 non-null  int64
 21  21      10000 non-null  int64
 22  22      10000 non-null  int64
 23  23      10000 non-null  int64
 24  24      10000 non-null  int64
 25  25      10000 non-null  int64
 26  26      10000 non-null  int64
 27  27      10000 non-null  int64
 28  28      10000 non-null  int64
 29  29      10000 non-null  int64
 30  30      10000 non-null  int64
 31  31      10000 non-null  int64
 32  32      10000 non-null  int64
 33  33      10000 non-null  int64
 34  34      10000 non-null  int64
 35  35      10000 non-null  int64
 36  36      10000 non-null  int64
 37  37      10000 non-null  int64
 38  38      10000 non-null  int64
 39  39      10000 non-null  int64
 40  40      10000 non-null  int64
 41  41      10000 non-null  int64
 42  42      10000 non-null  int64
 43  43      10000 non-null  int64
 44  44      10000 non-null  int64
 45  45      10000 non-null  int64
 46  46      10000 non-null  int64
 47  47      10000 non-null  int64
 48  48      10000 non-null  int64
 49  49      10000 non-null  int64
 50  50      10000 non-null  int64
 51  51      10000 non-null  int64
 52  52      10000 non-null  int64
 53  53      10000 non-null  int64
 54  54      10000 non-null  int64
dtypes: int64(55)
memory usage: 4.2 MB

In [101]:
#Информация о типе покрова содержится в последнем столбце
values_cover = dataset[dataset.columns[-1]].values
#Создание матрицы признаков
matrix_attributes = dataset[dataset.columns[:-1]].values
matrix_attributes[0]

array([2683,  333,   35,   30,   26, 2743,  121,  173,  179, 6572,    1,
          0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,
          0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,
          0,    0,    0,    0,    0,    0,    0,    0,    0,    1,    0,
          0,    0,    0,    0,    0,    0,    0,    0,    0,    0],
      dtype=int64)

In [121]:
#Разделение датасета на Train и Test
matrix_attributes_Train, matrix_attributes_Test, values_cover_Train, values_cover_Test = train_test_split(
    matrix_attributes, values_cover, test_size = 0.2, random_state=42)
print(matrix_attributes_Train.shape, matrix_attributes_Test.shape, values_cover_Train.shape, values_cover_Test.shape)

(8000, 54) (2000, 54) (8000,) (2000,)

In [128]:

knn = 12
weights =['uniform', 'distance']
model = KNeighborsClassifier(n_neighbors=knn, weights='distance')
model.fit(matrix_attributes_Train, values_cover_Train)

prediction = model.predict(matrix_attributes_Test)
accuracy_score(values_cover_Test, prediction)

0.753